/* CSS for the background image */
body {
    background-image: url('./\ indexBackgroundIBM.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Other CSS rules */
nav {
    background-color: rgba(240, 240, 240, 0.8); /* Semi-transparent background */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 600px;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

#results {
    margin: 20px;
}

.city {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.city img {
    max-width: 100%;
    height: auto;
}
/* CSS for paragraph */
p {
    line-height: 1.6;
    margin-bottom: 10px;

}
/* CSS for the intro article */
#aboutus {
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: white;
}

#aboutus h2 {
    margin-top: 0;
    font-size: 40px;
    color: white;
}

#aboutus p {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* CSS for the addition article */
#ourteam {
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: rgb(63, 62, 62);
    font-family: 'plex sans', sans-serif;;
}

#ourteam h2 {
    margin-top: 0;
    font-size: 24px;
    color: #4CAF50;
}

#ourteam p {
    line-height: 1.6;
    margin-bottom: 10px;
}

#ourteam ul {
    list-style-type: disc;
    padding-left: 20px;
}

#ourteam ul li {
    margin-bottom: 5px;
}